.content {
	margin-top: 100px;
}

.vr {
	width: 2px;
	color: #000;
	height: 100%;
}

.content-column {
	padding: 10px 50px 10px 50px;
	text-align: left;
	margin: 30px 0px 50px 0px;
}

.column-right {
	border-left: 2px #F5F2F2 solid;
}

.header-img {
	width: 100%;
}

h2 {
	text-align: center;
	color: #16A9E2;
	margin-bottom: 20px;
}

p {
	font-weight: 200;
}