

.vr {
	width: 2px;
	color: #000;
	height: 100%;
}

.content-column {
	padding: 30px 50px 30px 50px;
	text-align: left;
	margin: 50px 0px;
}

.column-right {
	border-left: 2px #F8F8F8 solid;
}

.header-img {
	width: 100%;
}

h2 {
	text-align: center;
	color: #16A9E2;
	margin-bottom: 20px;
}

p {
	font-weight: 200;
}