.content {
	margin-top: 100px;
}

.list-group {
	position: fixed;
	min-width: 300px;
}

.project {
	min-height: 300px;
	margin-top: 70px;
}

.thumbnail {
	margin-top : 50px;
}

.jumbotron {
	background-image: url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron h1, .jumbotron .h1 {
	font-size: 40px;
}

.jumbotron h1, .jumbotron p {
	color: #fff;
}

.invisible-anchor {
	position: relative;
	top: -150px;
}

a.list-group-item {
	color: #fff;
	font-weight: 300;
	background-color: #16A9E2;
}

a.list-group-item:hover {
	color: #fff;
	background-color: #62C3EB;
}

h2 {
	text-align: center;
	color: #16A9E2;
	margin-bottom: 20px;
}

p {
	font-weight: 200;
}